on:
  pull_request:
  push:
    branches:
      - master

name: Codecov

jobs:
  test:
    name: Test
    env:
      RUSTFLAGS: -C instrument-coverage
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@85e6279cec87321a52edac9c87bce653a07cf6c2  # Version 4.2.2
      - name: Add llvm-tools-preview component
        run: rustup component add llvm-tools-preview
      - name: Build required binaries
        uses: actions-rs/cargo@9e120dd99b0fbad1c065f686657e914e76bd7b72  # Version 1.0.1
        with:
          command: build
          args: --all-features
      - uses: actions-rs/cargo@v1
        continue-on-error: true
      - name: Install cargo-binstall
        run: cargo install cargo-binstall
      - name: Run Grcov
        run: |
          rm -rf /tmp/cov;
          cargo binstall -y grcov;
          mkdir /tmp/cov;
          grcov . --binary-path ./target/debug -s . -t lcov --branch --ignore-not-existing --ignore '../*' --ignore "/*" -o /tmp/cov/tests.lcov;
      - uses: codecov/codecov-action@v3
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          directory: /tmp/cov/
          name: waku-bindings-codecov
          fail_ci_if_error: true


