on:
  pull_request:
  push:
    branches:
      - master

name: Codecov

jobs:
  test:
    name: Test
    env:
      RUSTFLAGS: -C instrument-coverage
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          submodules: true
      - name: Add llvm-tools-preview component
        run: rustup component add llvm-tools-preview
      - name: Checkout submodules
        run: git submodule update --init --recursive
      - uses: actions-rs/toolchain@v1
        with:
          profile: minimal
          toolchain: nightly-2025-10-01
          override: true
          components: llvm-tools-preview
      - uses: actions-rs/cargo@v1
        continue-on-error: true
      - name: Install cargo-binstall
        run: cargo install cargo-binstall
      - name: Run Grcov
        run: |
          rm -rf /tmp/cov;
          cargo binstall -y grcov;
          mkdir /tmp/cov;
          grcov . --binary-path ./target/debug -s . -t lcov --branch --ignore-not-existing --ignore '../*' --ignore "/*" -o /tmp/cov/tests.lcov;
      - uses: codecov/codecov-action@v3
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          directory: /tmp/cov/
          name: waku-bindings-codecov
          fail_ci_if_error: true


